.web {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.web-option {
  font-size: 20px;
  margin-right: 16px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.web-option a {
  text-decoration: none;
  color: rgb(6, 107, 202);
  display: flex;
  align-items: center;
}

.optionIcon {
  display: flex;
  align-items: center;
  margin-right: 6px;
}
.web-option:last-child {
  margin-right: none;
}
